/*insert custom css below*/


body {
}

.heading {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.heading h1 {
  margin: 10px 0;
}

.box {
  top: 40px;
  width: 30%;
  margin: 1%;
  border-bottom: 3px solid #000000;
  position: relative;
  float: left;
}

.box:last-child {
}

.box h2 {
}

.box img {
  width: 100%;
}

.box a.read-more {
  display: block;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 5px solid #000000;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #000000;
  position: fixed;
}
