/*insert custom css below*/


body {
}

.heading {
  position: fixed;
}

.heading h1 {
}

.box {
  width: 32%;
  position: relative;
  float: left;
}

.box:last-child {
}

.box h2 {
}

.box img {
  border: 10px solid #000000;
  position: absolute;
}

.box a.read-more {
}

.footer {
  bottom: 10px;
  position: fixed;
}
