/*insert custom css below*/


body {
}

.heading {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.heading h1 {
  margin: 10px 0;
}

.box {
  width: 30%;
  margin: 1%;
  position: relative;
  float: left;
}

.box:last-child {
}

.box h2 {
}

.box img {
  border: 3px solid #000000;
  position: relative;
}

.box a.read-more {
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
